/venv/
/venv39/
/build/
/dist/
/Installer_MacOS/

.idea
/Panconvert_install.xml.backup
/binaries
/output/

/Qt5_to_Qt6_Migration_Analysis.md
/.vscode/settings.json

*.pyc
source/.DS_Store
__pycache__/output alias
.DS_Store
*.zip
Migration/Qt5_to_Qt6_Migration_Analysis.md
